# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

Host *
    AddressFamily inet
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
