Port 9922
AddressFamily inet
ListenAddress 10.9.8.174
ListenAddress 127.0.0.1
PubkeyAuthentication yes
PermitRootLogin yes
PermitEmptyPasswords no
#PasswordAuthentication yes
ChallengeResponseAuthentication no

UsePAM yes
X11Forwarding yes

PrintMotd no
#Banner none

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem       sftp    /usr/lib/openssh/sftp-server

# Example of overriding settings on a per-user basis
Match User root
       X11Forwarding no
       AllowTcpForwarding no
